# Note: by default this workflow assumes that your github user name = your Docker Hub user name.
# You can force it using `with: {DOCKER_HUB_USERNAME: myuser}` in the calling workflow
#
# By default it also breaks for GitHub users or repositories with uppercase letters,
# but it has been fixed by the 'tr' command

name: Automated Build

on:
  # workflow_dispatch is optional.
  # It lets you trigger the workflow manually from GitHub's web UI.
  workflow_dispatch:
  push:
    branches:
      # - main
      - 'release/*'
    # Or, to build on tag pushes :
    tags:
      - '*'
  workflow_call:
    inputs:
      DOCKER_HUB_USERNAME:
        required: false
        type: string
      PLATFORMS:
        required: false
        type: string
        default: 'linux/amd64,linux/arm64,linux/arm/v7'
    secrets:
      DOCKER_HUB_TOKEN:
        required: false

env:
  DOCKER_BUILDKIT: 1

jobs:
  push:

    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}

    permissions:
      contents: read
      packages: write

    steps:
      -
        name: Set environment variables
        run: |
          IMAGES=""
          if [ "${{ secrets.DOCKER_HUB_TOKEN }}" ]; then
            echo PUSH_TO_DOCKER_HUB=yes >> $GITHUB_ENV
            IMAGES="$IMAGES docker.io/${{ github.repository }}"
            if [ "${{ inputs.DOCKER_HUB_USERNAME }}" ]; then
              echo DOCKER_HUB_USERNAME="${{ inputs.DOCKER_HUB_USERNAME }}" >> $GITHUB_ENV
            else
              echo DOCKER_HUB_USERNAME="${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV
            fi
          fi
          if true; then
            echo PUSH_TO_GHCR=yes >> $GITHUB_ENV
            IMAGES="$IMAGES ghcr.io/${{ github.repository }}"
            IMAGES=$(echo $IMAGES | tr '[:upper:]' '[:lower:]')
          fi
          echo 'IMAGES<<EOF' >> $GITHUB_ENV
          for IMAGE in $IMAGES; do
            echo $IMAGE >> $GITHUB_ENV
            if [ "$GITHUB_REF_TYPE" == "tag" ] || [ "$GITHUB_REF_TYPE" == "branch" ]; then
              echo $IMAGE:$GITHUB_REF_NAME >> $GITHUB_ENV
            fi
          done
          echo 'EOF' >> $GITHUB_ENV

      - 
        uses: actions/checkout@v3

      -
        name: Log into Docker Hub
        if: env.PUSH_TO_DOCKER_HUB
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      -
        name: Log into GitHub Container Registry
        if: env.PUSH_TO_GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      -
        uses: docker/setup-qemu-action@v2

      -
        uses: docker/setup-buildx-action@v2

      -
        uses: docker/build-push-action@v3
        with:
          platforms: ${{ inputs.PLATFORMS }}
          push: true
          tags: ${{ env.IMAGES }}